---
layout: reports
permalink: /reports/
title: Reports
search_exclude: true
---

{% if site.categories.size > 0 %}
<h2>Reports</h2>

  {% assign categories = "" | split:"" %}
  {% for c in site.categories %}
    {% if c[0] == "report" %}
      {% assign categories = categories | push: c[0] %}
    {% endif %}
  {% endfor %}
  {% assign categories = categories | sort_natural %}

  {% for category in categories %}
      <a name="{{ category | slugize }}"></a>
      {% for post in site.categories[category] %}
        {% if post.hide != true %}
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <article class="archive-item">
          <p class="post-meta post-meta-title"><a class="page-meta" href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>  • {{ post.date | date: date_format }}</p>
        </article>
        {% endif %}
      {% endfor %}
  {% endfor %}

{% endif %}
